// Specific CSS for your home-page
h2 {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  opacity: 0.8;
}

.display-1 {
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 1px 4px rgb(0, 0, 0 / 40%);
  font-size: 92px !important;
}

.slogan {
  text-shadow: 2px 2px 4px rgb(0, 0, 0 / 40%);
  font-weight: 400;
  font-size: 48px;
  opacity: 0.85;
};

.homepage-cards {
  margin-left: 60px;
  margin-bottom: -100px;
}
