<div class="build-title-new">
  <h1><strong>All builds</strong></h1>
  <h2>Check out cool community builds</h2>
</div>
<div class="cards-new card-wrapper-new">
    <%= render "shared/builds_card" %>
</div>
