<div class="page-headers">
  <h1>All builds</h1>
</div>
<div class="cards-new card-wrapper-new">
  <% @builds.each do |build| %>
    <%= render "shared/build_card", build: build %>
  <% end %>
</div>
