<div class="card-wrapper">
  <h1>Build Overview</h1>
  <hr>
  <div class="">
    <h2>Appliances</h2>
    <div class="builds-card-container">
      <% @build.build_appliances.each do |appliance|%>
      <div class="d-flex justify-content-between">
        <div>
          <div class="build-title">
            <p><strong>Dometic</strong></p>
          </div>
          <div class="build-model">
            <p><strong>RM8400</strong></p>
          </div>
          <div class="build-price">
            <p class="mt-3 mb-3"><strong>$300</strong></p>
          </div>
        </div>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      </div>
      <div class="build-text text-center mt-1">
        <p><strong>Volts:</strong> 12V   /  <strong>Amps:</strong> 0.5A</p>
      </div>
      <div class="build-link text-center mt-2">
        <a href="#">Go to product page</a>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-around">
      <div>
        <h2 class="text-center mt-3 mb-3">Battery</h2>
        <div class="builds-card-container">
          <div class="d-flex justify-content-between">
            <div>
              <div class="build-title">
                <p><strong>Dometic</strong></p>
              </div>
              <div class="build-model">
                <p><strong>RM8400</strong></p>
              </div>
              <div class="build-price">
                <p class="mt-3 mb-3"><strong>$300</strong></p>
              </div>
            </div>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
          </div>
          <div class="build-text text-center mt-1">
            <p><strong>Volts:</strong> 12V   /  <strong>Amps:</strong> 0.5A</p>
          </div>
          <div class="build-link text-center mt-2">
            <a href="#">Go to product page</a>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-center mt-3 mb-3">Solar Panel</h2>
        <div class="builds-card-container">
          <div class="d-flex justify-content-between">
            <div>
              <div class="build-title">
                <p><strong>Dometic</strong></p>
              </div>
              <div class="build-model">
                <p><strong>RM8400</strong></p>
              </div>
              <div class="build-price">
                <p class="mt-3 mb-3"><strong>$300</strong></p>
              </div>
            </div>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
          </div>
          <div class="build-text text-center mt-1">
            <p><strong>Volts:</strong> 12V   /  <strong>Amps:</strong> 0.5A</p>
          </div>
          <div class="build-link text-center mt-2">
            <a href="#">Go to product page</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="banner" style="">
      <div class="container">
        <h2 class="mb-3">Summary</h2>
        <p>Fridge - 6 hrs/day @ 2 amps = 12ah</p>
        <p>Fan - 3 hrs/day @ 1 amps = 3ah</p>
        <p>total daily power needs: 9ah</p>
      </div>
    </div>
  </div>
</div>
