<div class="container">
  <h1>Build Overview</h1>
  <hr>
  <h2>Appliances</h2>
    <div class="cards">
      <div class="appliance-card">
      </div>
    </div>
  <hr>
  <h2>Battery</h2>
    <div class="appliance-card">
    </div>
  <h2>Solar Panel</h2>
    <div class="appliance-card">
    </div>
  <p></p>
  <p></p>
  <p></p>
</div>
