<div class="card-wrapper">
  <h1 class="build-title-new fs-1"> <strong><%= @build.name.capitalize %> overview</strong></h1>
  <hr>
  <h2 class="mt-4 mb-3 build-title-new"><strong>Appliances</strong></h2>
    <div class="card-space">
      <%= render "shared/appliances_card" %>
    </div>
  <hr>
    <div class="d-flex justify-content-evenly">
      <div>
        <h2 class="text-center mt-3 mb-3 build-title-new"><strong>Battery</strong></h2>
        <%= render "shared/battery_card" %>
      </div>
      <div>
        <h2 class="text-center mt-3 mb-3 build-title-new"><strong>Solar Panel</strong></h2>
        <%= render "shared/solar_panel_card" %>
      </div>
    </div>
    <hr>
    <div class="banner mx-auto" style="width:400px">
      <div class="container">
        <h1 class="mb-3 build-title-new fs-1"><strong>Overview</strong></h1>
        <p>Fridge:</p>
        <p class="mb-3 mt-2"> 6 hrs/day @ 2 amps = 12ah</p>
        <p>Fan:</p>
        <p class="mb-3 mt-2"> 3 hrs/day @ 1 amps = 3ah</p>
        <hr>
        <h2 class="mt-2">Total daily power needs:</h2>
        <h2 class="mb-3 mt-2">9ah</h2>
      </div>
    </div>
</div>
