.builds-card-container {
  height: 251px;
  width: 307px;
  border: 3px solid #142970;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  padding: 20px;
  margin-bottom: 32px;
  box-shadow: 0 0 15px rgba(20, 41, 112, 0.22);

  p {
    margin: 0;
  }
}

.build-title {
  font-size: 31px;
  font-style: bold;
  color: #142970;
}

.build-model {
  font-size: 19px;
  font-style: bold;
  color: #142970;
}

.build-price {
  font-size: 19px;
  font-style: bold;
  color: #142970;
}

.build-text {
  font-size: 18px;
  color: #142970;
}

.build-link {
  font-size: 18px;
  color: #142970;
}

.builds-card-container img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.inner-space {
  padding: 12px;
}
