.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 50px;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(20, 41, 112, 0.22);
  transition: 0.2s;
  margin-top: 50px;
  width: 450px;
  &:not(.no-hover) {
    &:hover {
      scale: 1.05;
    }
  }
}

.banner h2 {
  margin: 0;
  color: #142970;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #142970;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
