// Base layout of the cards grid
.category-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

// To move/hide the checkbox
.category-selector {
  position: absolute;
  transform: scale(0);
}

// Base styling for each card (LABEL)
.category-selector+label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
}

// IMPORTANT: This is where you add the styling for the card that is checked
.category-selector:checked+label {
  // border: solid .5px black;
  // border-radius: 5%;
  .builds-card-container-new.card-shadow.box-relative {
  border:  2px solid $primary;
  opacity: 0.8;
  // TODO: CHANGE THIS
  }
}

.form-wrapper {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper-final {
  display: flex;
  justify-content: center;
}

.form-label {
  margin-top: 0.5rem;
}

.form-input {
  border-radius: 60px;
  height: 40px;
  text-align: center;
  width: 150px;
  margin: 0 20px 0 20px;
}

.form-input-final {
  border-radius: 60px;
  height: 40px;
  text-align: center;
  width: 150px;
  margin: 0 20px 0 20px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
}

.form-buttons-final {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
