// Base layout of the cards grid
.category-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

// To move/hide the checkbox
.category-selector {
  position: absolute;
  transform: scale(0);
}

// Base styling for each card (LABEL)
.category-selector+label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
}

// IMPORTANT: This is where you add the styling for the card that is checked
.category-selector:checked+label {
  // border: solid .5px black;
  // border-radius: 5%;
  .builds-card-container-new.card-shadow.box-relative {
  border:  .5px solid black;
  // TODO: CHANGE THIS
  }
}

.form-wrapper {
  display: flex;
}

.form-label {

}

.form-input {

}

.form-button {
    color: white;
    background-color: $primary;
    padding: 10px 30px 10px 30px;
    height: 40px;
    border: none;
    border-radius: 50px;
    transition: background 0.3s ease;
  }

  .form-button:hover {
    background: $orange;
    color: white;
  }
