.image-step {
  height: 222px;
  width: 331px;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-iceberg {
  height: 603px;
  width: 740px;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-strength {
  height: 112px;
  width: 112px;
  background-repeat: no-repeat;
  background-size: cover;
}
