.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-right: 0px;
  padding-left: 0px;
}


.navbar-lewagon .navbar-brand img {
  width: 80px;
  padding-right: 0px;
  padding-left: 0px;
}
