.pill-container {
  height: 23px;
  border: 1px solid #d9d9d9;
  border-radius: 40px;
  padding: 0px 9px 0px 9px;
  display: inline-flex;
}

.pill-font {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
