.search-field {
  background-color: white;
  border: 1px solid #c6c6c6;
  border-radius: 33px;
  width: 329px;
  height: 50px;
}

.icon-positioning {
  position: relative;
  position: absolute;
  top: 13px;
  right: 20px;
}

.icon-circle {
  position: absolute;
  top: 20px;
  width: 50px;
  height: 50px;
  background-color: #142970;
}
